.container {
  min-height: 85vh;
}
body {
  color: #495057;
  background: linear-gradient(#e66465, #9198e5);
}
#footer {
  min-height: 5vh;
}
header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#result {
  text-transform: capitalize;
  height: 80px;
}
option {
  color: #495057;
  /* font-weight: 500; */
}
label {
  margin-left: 8px;
}
  /* .swal-modal {

    background-color: aliceblue;
    border: 3px solid white;
  }
  .alert_button {
    background-color: aliceblue;
    font-style: italic;
    color: #495057;
  } */
